<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rudy Stresser | Admin Panel</title>
    <link rel="stylesheet" href="css/admin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <ul>
            <li class="hideOnMobile"><a href="#" class="active"><i class='bx bx-news'></i> News</a></li>
            <li class="hideOnMobile"><a href="/panel"><i class='bx bx-barcode-reader'></i> Reedem Code</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bx-wrench'></i> Plans</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bx-code-block'></i> APIs</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxs-user-rectangle'></i> Users</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxs-message-alt-x'></i> Blacklist</a></li>
            <li class="menu-btn"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></li>
        </ul>
        <ul class="sidebar">
            <li><a href="#" class="active"><i class='bx bx-news'></i> News</a></li>
            <li><a href="/panel"><i class='bx bx-barcode-reader'></i> Reedem Code</a></li>
            <li><a href="#"><i class='bx bx-wrench'></i> Plans</a></li>
            <li><a href="#"><i class='bx bx-code-block'></i> APIs</a></li>
            <li><a href="#"><i class='bx bxs-user-rectangle'></i> Users</a></li>
            <li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
            <li><a href="#"><i class='bx bxs-message-alt-x'></i> Blacklist</a></li>
        </ul>
    </header>
<script src="js/admin.js"></script>
</body>
</html>