<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rudy Stresser | Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <ul>
            <li><a href="#" class="active"><i class='bx bx-desktop'></i> Dashboard</a></li>
            <li><a href="#"><i class='bx bx-wifi-off'></i> Panel</a></li>
            <li><a href="#"><i class='bx bx-cart' ></i> Purchase</a></li>
            <li><a href="#"><i class='bx bxl-telegram' ></i> Telegram</a></li>
            <li><a href="#"><i class='bx bx-cog' ></i> Settings</a></li>
            <li><a href="#"><i class='bx bxs-log-out' ></i> Logout</a></li>
        </ul>
    </header>

    <main>
        <div class="total-data">
            <div class="total-users"></div>
            <div class="total-attacks"></div>
            <div class="total-servers"></div>
        </div>
    </main>
</body>
</html>