<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rudy Stresser | Purchase</title>
    <link rel="stylesheet" href="css/purchase.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <ul>
            <li class="hideOnMobile"><a href="#"><i class='bx bx-desktop'></i> Dashboard</a></li>
            <li class="hideOnMobile"><a href="/panel"><i class='bx bx-wifi-off'></i> Panel</a></li>
            <li class="hideOnMobile"><a href="/purchase" class="active"><i class='bx bx-cart' ></i> Purchase</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxl-telegram' ></i> Telegram</a></li>
            <li class="hideOnMobile"><a href="/settings"><i class='bx bx-cog' ></i> Settings</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxs-log-out' ></i> Logout</a></li>
            <li class="menu-btn"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></li>
        </ul>
        <ul class="sidebar">
            <li><a href="#"><i class='bx bx-desktop'></i> Dashboard</a></li>
            <li><a href="/panel"><i class='bx bx-wifi-off'></i> Panel</a></li>
            <li><a href="#" class="active"><i class='bx bx-cart' ></i> Purchase</a></li>
            <li><a href="#"><i class='bx bxl-telegram' ></i> Telegram</a></li>
            <li><a href="#"><i class='bx bx-cog' ></i> Settings</a></li>
            <li><a href="#"><i class='bx bxs-log-out' ></i> Logout</a></li>
        </ul>
    </header>

    <main>
        <div class="plans-container">
            <div class="plans">
                <div class="plan">
                    <h2>Basic I</h2>
                    <hr>
                    <p><sup>15€</sup><span>/MO</span></p>
                </div>
                <div class="plan">
                    <h2>Basic II</h2>
                </div>
                <div class="plan">
                    <h2>Basic III</h2>
                </div>
                <div class="plan">
                    <h2>Premium I</h2>
                </div>
                <div class="plan">
                    <h2>Premium II</h2>
                </div>
                <div class="plan">
                    <h2>Premium III</h2>
                </div>
                <div class="plan">
                    <h2>Platinum I</h2>
                </div>
                <div class="plan">
                    <h2>Platinum II</h2>
                </div>
                <div class="plan">
                    <h2>Platinum III</h2>
                </div>
            </div>
        </div>
    </main>
    <script src="js/purchase.js"></script>
</body>
</html>