<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rudy Stresser | Register</title>
        <link rel="stylesheet" href="css/register.css">
    </head>
<body>
    <div class='register-container'>
        <h1>Registration</h1>
        <a href="/login">Already have account?<span>Login here.</span></a>
        <form action="/register" method="POST">
            <div class='input-box'>
                <label>Username</label>
                <input type='text' id='username' name='username' placeholder='Username'>
            </div>
            <div class='input-box'>
                <label>Password</label>
                <input type='password' id='password' name='password' placeholder='******'>
            </div>
            <button type='submit'>Register</button>
        </form>
    </div>
</body>
</html>