<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rudy Stresser | Settings</title>
    <link rel="stylesheet" href="css/settings.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <ul>
            <li class="hideOnMobile"><a href="#"><i class='bx bx-desktop'></i> Dashboard</a></li>
            <li class="hideOnMobile"><a href="/panel"><i class='bx bx-wifi-off'></i> Panel</a></li>
            <li class="hideOnMobile"><a href="/purchase"><i class='bx bx-cart' ></i> Purchase</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxl-telegram' ></i> Telegram</a></li>
            <li class="hideOnMobile"><a href="/settings" class="active"><i class='bx bx-cog' ></i> Settings</a></li>
            <li class="hideOnMobile"><a href="#"><i class='bx bxs-log-out' ></i> Logout</a></li>
            <li class="menu-btn"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></li>
        </ul>
        <ul class="sidebar">
            <li><a href="#"><i class='bx bx-desktop'></i> Dashboard</a></li>
            <li><a href="/panel"><i class='bx bx-wifi-off'></i> Panel</a></li>
            <li><a href="/purchase"><i class='bx bx-cart' ></i> Purchase</a></li>
            <li><a href="#"><i class='bx bxl-telegram' ></i> Telegram</a></li>
            <li><a href="/settings" class="active"><i class='bx bx-cog' ></i> Settings</a></li>
            <li><a href="#"><i class='bx bxs-log-out' ></i> Logout</a></li>
        </ul>
    </header>

    <main>
        <div class="profile-sec">
            <h2><i class='bx bx-user' ></i> Profile</h2>
            <div class="profile">
                <h3>ID:</h3>
                <p>123</p>
                <h3>Username:</h3>
                <p>miroljub</p>
                <h3>Registered since:</h3>
                <p>1/11/2024</p>
                <h3>Plan:</h3>
                <p>Platinum III</p>
                <h3>Expires:</h3>
                <p>1/11/2025</p>
                <h3>Type:</h3>
                <p>User</p>
            </div>
        </div>
        <div class="account-sec">
            <h2><i class='bx bx-cog' ></i> Account Management</h2>
            <div class="account">
                <label>Current password</label>
                <input placeholder="******" required>
                <label>New password</label>
                <input placeholder="******" required>
            </div>
        </div>
    </main>
</body>
</html>