::-webkit-scrollbar-thumb:hover {
    background: #0a0c17;
}

* {
    font-family: "Afacad Flux", sans-serif;
}

body {
    background: #0e1323;
}

header {
    display: flex;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(60deg, #0a0e19, #0a0e19, #090e18, #090e18);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    display: inline;
    font-size: 1.3rem;
    margin-left: 15px;
    margin-right: 15px;
}

header ul li a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    transition: .2s;
}

header ul li a i {
    transform: translateY(2px);
}

header ul li a:hover {
    color: #fff;
    transition: .2s;
}

.active {
    background-color: #212835;
    padding: 8px;
    /*box-shadow: 0 0 10px #212835;*/
    border-radius: 5px;
    color: #fff !important;
}

.menu-btn {
    display: none;
}

.sidebar {
    position: absolute;
    top: -16px;
    background-color: #273245;
    width: 100%;
    height: 260px;
    display: none;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.active-sidebar {
    display: inline-flex;
    opacity: 1;
}

[data-tab-content] {
    display: none;
}

[data-tab-content].actives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-sec {
    display: flex;
    position: relative;
    color: white;
    width: 500px;
    height: 300px;
    background-color: #273245;
    margin-top: 220px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
}

.news-sec h1 {
    position: absolute;
    top: 0;
    text-align: center;
}

.active-news {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: #273245;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.reedem-sec {
    width: 500px;
    height: 210px;
    background-color: #273245;
    margin-top: 220px;
    text-align: center;
    color: #fff;
    position: relative;
}

.reedem-sec select {
    outline: none;
    background-color: #090e18;
    color: #fff;
    width: calc(80% - 20px);
    margin-left: auto;
    margin-right: auto;
}

.reedem-sec button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(30px);
}

.apis-sec {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex-wrap: wrap;
}

.apis-sec input {
    border: 1px solid darkorange;
}

.apis-sec a {
    color: #fff;
}

.base-url {
    color: transparent;
}

.visible-data {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    height: 27px;
    background-color: #0e1323;
    outline: none;
    border: none;
    text-indent: 15px;
    color: #fff;
}

button {
    background-color: #f39624;
    color: #fff;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px darkorange, 0 0 10px darkorange;
    cursor: pointer;
}

@media screen and (max-width: 938px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
        z-index: 510;
        position: absolute;
        right: 0;
    }

    .news-sec {
        width: calc(100% - 10px);
    }

    .active-news {
        width: calc(100% - 25px);
    }

    .reedem-sec {
        width: calc(100% - 10px);
    }

    .reedem-sec select {
        width: calc(50% - 10px);
    }

    .apis-sec {
        width: calc(100% - 10px);
    }

    .apis-sec .inputs {
        width: calc(100% - 10px);
    }

    .apis-sec table {
        width: 80%;
    }
}