@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0e1323;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a0c17;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0a0c17;
}

* {
    font-family: "Afacad Flux", sans-serif;
}

body {
    background: #0e1323;
    z-index: 0;
}

header {
    display: flex;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(60deg, #0a0e19, #0a0e19, #090e18, #090e18);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    display: inline;
    font-size: 1.3rem;
    margin-left: 15px;
    margin-right: 15px;
}

header ul li a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    transition: .2s;
}

header ul li a i {
    transform: translateY(2px);
}

header ul li a:hover {
    color: #fff;
    transition: .2s;
}

.active {
    background-color: #212835;
    padding: 8px;
    /*box-shadow: 0 0 10px #212835;*/
    border-radius: 5px;
    color: #fff !important;
}

.menu-btn {
    display: none;
}

.sidebar {
    position: absolute;
    top: -16px;
    background-color: #273245;
    width: 100%;
    height: 260px;
    display: none;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    z-index: 500;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.active-sidebar {
    display: inline-flex;
    opacity: 1;
    z-index: 500;
}

.panel-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.attack-container {
    display: flex;
    width: 600px;
    height: 470px;
    background-color: #273245;
    transform: translateY(180px) translateX(220px);
    border-radius: 5px;
    z-index: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.ongoing-container {
    width: 800px;
    height: 250px;
    background-color: #273245;
    transform: translateY(180px) translateX(270px);
    border-radius: 5px;
    z-index: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    z-index: 0;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f39624;
    color: #fff;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

.tabs ul {
    position: absolute;
    top: 180px;
    transform: translateX(240%) translateY(150%);
    white-space: nowrap;
}

.tabs li {
    display: inline;
}

.tabButton a {
    display: inline;
    color: #fff;
    text-decoration: none;
    margin-left: 0;
    font-size: 1.1rem;
}

.tabButton.selected {
    color: #fff;
    font-size: 1.1rem;
    background-color: darkorange;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 10px darkorange;
}

[data-tab-content] {
    display: none;
}

[data-tab-content].actives {
    display: block;
}

.inputs {
    transform: translateY(100px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
}

.input-group label {
    color: darkorange;
    text-shadow: 0 0 5px darkorange;
}

.input-group input {
    border: 2px solid #fff;
    outline: none;
    height: 28px;
}

.input-group input::placeholder {
    font-size: 1rem;
}

.input-group select {
    outline: none;
    height: 32px;
}

.input-group input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 10px);
    height: 8px;
    background: gray;
    border-radius: 5px;
    outline: none;
    border: none;
    opacity: 0.7;
    transition: opacity .2s;
    z-index: 10;
}

.input-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: darkorange;
    cursor: pointer;
    z-index: 1;
}

.attack-container .start-attack {
    position: absolute;
    bottom: 70px;
    left: 20px;
    color: #fff;
    background-color: #f39624;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    margin-top: 440px;
    text-align: center;
}

footer a {
    text-align: center;
    color: darkorange;
    font-size: 1.2rem;
    text-decoration: none;
    text-shadow: 0 0 5px darkorange, 0 0 10px darkorange;
}

footer span {
    color: darkorange;
}

@media screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
        z-index: 510;
        position: absolute;
        right: 0;
    }

    .panel-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .attack-container {
        width: calc(100% - 10px);
        transform: translateX(0%) translateY(200px);
    }

    .ongoing-container {
        width: calc(100% - 10px);
        transform: translateX(0%) translateY(260px);
    }

    .tabs ul {
        transform: translateX(-10%) translateY(130%);
    }
}