@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0e1323;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a0c17;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0a0c17;
}

* {
    font-family: "Afacad Flux", sans-serif;
}

body {
    background: #0e1323;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(60deg, #0a0e19, #0a0e19, #090e18, #090e18);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    display: inline;
    font-size: 1.3rem;
    margin-left: 15px;
    margin-right: 15px;
}

header ul li a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    transition: .2s;
}

header ul li a i {
    transform: translateY(2px);
}

header ul li a:hover {
    color: #fff;
    transition: .2s;
}

.active {
    background-color: #212835;
    padding: 8px;
    /*box-shadow: 0 0 10px #212835;*/
    border-radius: 5px;
    color: #fff !important;
}

.menu-btn {
    display: none;
}

.sidebar {
    position: absolute;
    top: -16px;
    background-color: #273245;
    width: 100%;
    height: 260px;
    display: none;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.active-sidebar {
    display: inline-flex;
    opacity: 1;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
}

.plan {
    width: 280px;
    height: 400px;
    background-color: #273245;
    color: #fff;
    text-align: center;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

hr {
    width: 50%;
    height: 2px;
    background-color: #995d15;
    border: none;
}

.plan p {
    transform: translateY(-5px);
}

.plan span {
    font-size: 1.5rem;
}

.plan sup {
    font-size: 1.2rem;
}

.plan ul {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -35px;
    margin-right: auto;
    list-style-type: none;
    font-size: 1.3rem;
}

.plan a {
    position: relative;
    top: 117px;
    margin-left: auto;
    margin-right: auto;
    background-color: #995d15;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px darkorange, 0 0 10px darkorange;
}

footer {
    margin-top: 40px;
    text-align: center;
}

footer a {
    text-align: center;
    color: darkorange;
    font-size: 1.2rem;
    text-decoration: none;
    text-shadow: 0 0 5px darkorange, 0 0 10px darkorange;
}

footer span {
    color: darkorange;
}

@media screen and (max-width: 576px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
        z-index: 10;
        position: absolute;
        right: 0;
    }

    .plan {
        width: calc(90% - 1px);
    }
}

@media screen and (max-width: 801px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
        z-index: 10;
        position: absolute;
        right: 0;
    }

    .plans-container {
        margin-top: 160px;
        margin-bottom: 30px;
    }
}